[submodule "neutron-standards-evaluation"]
	path = deps/neutron-standards-evaluation
	url = ../neutron-standards-evaluation/
[submodule "datpy"]
	path = deps/datpy
	url = ../../Development/codeproj/gitrepos/DATP-Python/
