[submodule "neutron-standards-evaluation"]
	path = deps/neutron-standards-evaluation
	url = ../neutron-standards-evaluation/
[submodule "datpy"]
	path = deps/datpy
	url = ../../Development/codeproj/gitrepos/DATP-Python/
[submodule "deps/datp-fortran"]
	path = deps/datp-fortran
	url = https://github.com/iaea-nds/datp-fortran
[submodule "deps/gmap-fortran"]
	path = deps/gmap-fortran
	url = https://github.com/iaea-nds/gmap-fortran
